<% layout('./layouts/boilerplate') %>

<section class="features-icons text-center">
  <div class="container">
    <div class="row">
      <div class="col-6 offset-3 justify-content-center">
        <div class="alert alert-danger alert_box" role="alert" data-cy="error-msg">
          <h4 class="alert-heading">ERROR: <%= err.statusCode %>, <%= err.message %></h4>
          <%  if (process.env.NODE_ENV !== 'production') { %>
          <div style="overflow-wrap: break-word;">
              <p><%= err.stack %></p>
          </div>   
          <% } %>
          <hr>
          <a class="mb-0" href="/" target=>Home</a>
        </div>
    </div>
  </div>
</section>
