<!-- Footer-->
<footer class="footer bg_navbar mt-auto">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 h-100 text-center text-lg-center my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><a href="mailto: spencerthomason1@gmail.com">Contact</a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a href="https://www.termsfeed.com/live/e135ccd3-543d-4b8b-9734-da50072c1690">Terms of Use</a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a href="https://www.termsfeed.com/live/72dc83e3-6839-4beb-a1ef-373d4c8c04b3">Privacy Policy</a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a href="https://www.termsfeed.com/live/847655ea-98ff-43bc-82b4-6d8e7958a60c">Disclaimer</a></li>
        </ul>
        <p class="text-muted text-center small mb-4 mb-lg-0">&copy; 2023 DailyQuotes, All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>


